@import "tailwindcss";

a.active button {
  background-color: #4391a5;
  color: #c8c8c8;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.tippy-box[data-theme="custom"] {
  background-color: #333333; /* or any color you want */
  opacity: 90%;
}

.tippy-box[data-theme="custom2"] {
  background-color: #4391a5; /* or any color you want */
}

div.header-button {
  background-color: #595959;

  opacity: 95%;
}
